<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>eachPost</title>
</head>
<body>
    {% for board in boards %}
    <h1>{{board.title}}</h1>
    <a href="/board">게시판으로 돌아가기</a>
    <hr>
    <div class="card">
        <h5 class="card-header p-2">{{board.title}}</h5>
        <div class="row"> <!-- 1 -->

            <div class="col-md-7 col-lg-8 col-xl-9 order-sm-2 order-md-1"> <!-- 1 -->
                <div class="post-body p-2">{{board.content}}</div>
            </div>

            <div class="col-md-5 col-lg-4 col-xl-3 order-sm-1 order-md-2"> <!-- 1 -->
                <div class="post-info card m-2 p-2"> 
                    <div><span>Division</span> : <span >{{board.division}}</span></div> 
                    <div><span>Writer</span> : <span >{{board.writer}}</span></div> 
                    <div><span>Created</span> : <span>{{board.created_at}}</span></div> <!-- 2 -->
                    <div><span>Views</span> : <span >{{board.views}}</span></div> 
                    <div><span>isFile</span> : <span >{{board.isFile}}</span></div> 
                </div>
            </div>
        </div>
    </div>
    <a href="/board/{{board.id}}/edit">Edit</a>
    <form action="/board/{{board.id}}" method="post" class="d-inline">
        <a class="btn btn-primary" href="javascript:void(0)" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
    </form>
    {% endfor %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/board.js"></script>
</body>
</html>