<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write</title>
</head>

<body>
    <h1>Write Page</h1>
    <h2><a href="/">Main Page</a></h2>
    <hr>

    <form method = "post" action="/board" name="write-form">
        <fieldset>
            <legend>게시판 등록</legend>
            <div>
                <!-- <select name ="divison">
                    <option value="공지사항" selected>공지사항</option>
                    <option value="취업 및 연수">취업 및 연수</option>
                </select> -->
                <input name="division" type="text" placeholder="구분"></div>
            </div>
            <div><input name="title" type="text" placeholder="제목"></div>
            <div><input name="content" type="text" placeholder="내용"></div>
            <div>
                <select name ="writer">
                    <option value="행정조교" selected>행정조교</option>
                    <option value="실습조교">실습조교</option>
                </select>
            </div>
            <div><input type="file" name = "isFile"></div>
            <input type="submit" value="작성하기">
        </fieldset>
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</body>

</html>